image:
  repository: crypto-price
  pullPolicy: IfNotPresent
  tag: latest

replicaCount: 1

nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: false

# This is for setting Kubernetes Annotations to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations:
  prometheus.io/scrape: "true"
  prometheus.io/path: "/metrics"
  prometheus.io/port: "8000"
# This is for setting Kubernetes Labels to a Pod.
# For more information checkout: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/

# This is for setting up a service more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/
service:
  # This sets the service type more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#publishing-services-service-types
  type: ClusterIP
  # This sets the ports more information can be found here: https://kubernetes.io/docs/concepts/services-networking/service/#field-spec-ports
  port: 8000

ingress:
  enabled: false

httpRoute:
  enabled: false

# This is to setup the liveness and readiness probes more information can be found here: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/
livenessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

readinessProbe:
  httpGet:
    path: /health
    port: http
  initialDelaySeconds: 5
  periodSeconds: 10
  timeoutSeconds: 2
  failureThreshold: 3

autoscaling:
  enabled: false

namespace:
  create: true
  name: test-crypto-price
  appLabel: crypto-price-app

env:
  - name: API_CURRENCY
    value: usd
  - name: API_COIN_TYPE
    value: bitcoin
  - name: BASE_URL
    value: https://api.coingecko.com/api/v3/simple/price
  - name: OPENTELEMETRY_HOST
    value: http://opentelemetry-collector.default.svc.cluster.local
  - name: OPENTELEMETRY_PORT
    value: "4318"

prometheus:
  prometheusSpec:
    serviceMonitorNamespaceSelector:
      any: true

karpenter:
  enabled: false
  settings:
    clusterName: crypto-cluster
    # This requires creation of SQS queue for interruptions, aswell as an IAM role for karpenter to use the queue
    interruptionQueue: crypto-cluster

jaeger:
  fullnameOverride: jaeger
  provisionDataStore:
    cassandra: false
  allInOne:
    enabled: true
  storage:
    type: memory
  agent:
    enabled: false
  collector:
    enabled: false
  query:
    enabled: false

opentelemetry-collector:
  fullnameOverride: opentelemetry-collector
  image:
    repository: otel/opentelemetry-collector
    tag: latest
  command:
    name: otelcol
  mode: deployment
  config:
    exporters:
      otlp:
        endpoint: jaeger-collector:4317
        tls:
          insecure: true
    service:
      pipelines:
        traces:
          processors: [memory_limiter, batch]
          exporters: [otlp, debug]