apiVersion: v1
kind: Service
metadata:
  name: crypto-service
  namespace: {{ .Values.namespace.name }}
  labels:
    {{- include "bitcoin-price.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "bitcoin-price.selectorLabels" . | nindent 4 }}
